<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Fanat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
